PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=bo0m7NIAfXi8Dq7JPPl32QktGPzue6NA
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=yourDbUserName
MYSQL_PASSWORD=yourPassword
MYSQL_DB_NAME=app_cek_ongkir
MYSQL_DB_NAME=YourDBName
